<title>{{ title }}</title>
<body>
  <div class="navbar">
      CACI Benefits Change v1.0
  </div>
  <div class="content">






    <div class="third">
      <img class="plate" src="../assets/images/plate.png" />

      <div class="queryBox">

      <img class="menu" src="../assets/images/menu.png" />

        <div class="query">
          <div class="queryTitle">
            Annual Salary
          </div>
          <div class="queryRow">
            <input class="queryInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Individual 401k Contribution
          </div>
          <div class="queryRow">
            <input class="queryInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            IBA Payout
          </div>
          <div class="queryRow">
            <input class="queryInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Age
          </div>
          <div class="queryRow">
            <input class="queryInput" />
          </div>
        </div>


        <div class="btn">
          Order
        </div>

      </div>

      <!-- <img class="phone" src="../assets/images/iphone.png" /> -->

      <!-- <div class="screen">
        <div class="screenTitle">Annual Salary</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">Individual 401K Contribution</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">IBA Payout</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">Age</div>
        <input class="screenInput" type="number">
      </div> -->

    </div>






    <div class="third">

      <img class="receipt" src="../assets/images/ReceiptTop.png" />

      <div class="thirdContent">

        <div class="thirdTitle">
          COMPANY 32
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>Taxable Income</div>
            <div class="result">100,000</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Income Tax</div>
            <div class="result">-22,000</div>
          </div>
        </div>

        <div class="section sectionEnd">
          <div class="sectionTitle receiptRow">
            <div>IBA Payout</div>
            <div class="result">25,000</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Bonus Tax</div>
            <div class="result">-10,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Subtotal</div>
            <div class="result">93,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>401K</div>
            <div class="result">47,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Total Value</div>
            <div class="result">140,000</div>
          </div>
        </div>

      </div>

    <img class="receipt" src="../assets/images/ReceiptBottom.png" />
    </div>






    <div class="third">

      <img class="receipt" src="../assets/images/ReceiptTop.png" />

      <div class="thirdContent">

        <div class="thirdTitle">
          NEW BENEFITS PLAN
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>Taxable Income</div>
            <div class="result">100,000</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Income Tax</div>
            <div class="result">-22,000</div>
          </div>
        </div>

        <div class="section sectionEnd">
          <div class="sectionTitle receiptRow">
            <div>IBA Payout</div>
            <div class="result">25,000</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Bonus Tax</div>
            <div class="result">-10,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Subtotal</div>
            <div class="result">93,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>401K</div>
            <div class="result">47,000</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Total Value</div>
            <div class="result">140,000</div>
          </div>
        </div>

      </div>

    <img class="receipt" src="../assets/images/ReceiptBottom.png" />
    </div>

  </div>
</body>

<router-outlet></router-outlet>
