<title>{{ title }}</title>
<body>
  <div class="navbar">
      CACI Benefits Change v1.0
  </div>
  <div class="content">






    <div class="third">
      <img class="plate" src="../assets/images/plate.png" />

      <div class="queryBox">

      <img class="menu" src="../assets/images/menu.png" />

        <div class="query">
          <div class="queryTitle">
            Annual Salary
          </div>
          <div class="queryRow">
            <input class="queryInput" [(ngModel)]="salaryInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Individual 401k Contribution
          </div>
          <div class="queryRow">
            <input class="queryInput" [(ngModel)]="retirementInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Age
          </div>
          <div class="queryRow">
            <input class="queryInput" [(ngModel)]="ageInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Days of PTO Used
          </div>
          <div class="queryRow">
            <input class="queryInput" [(ngModel)]="ptoInput" />
          </div>
        </div>


        <div class="query">
          <div class="queryTitle">
            Out of Pocket Costs
          </div>
          <div class="queryRow">
            <input class="queryInput" [(ngModel)]="oopInput" />
          </div>
        </div>


        <div class="btn" (click)="updateBenefits()">
          Order
        </div>

      </div>

      <!-- <img class="phone" src="../assets/images/iphone.png" /> -->

      <!-- <div class="screen">
        <div class="screenTitle">Annual Salary</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">Individual 401K Contribution</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">IBA Payout</div>
        <input class="screenInput" type="number">
      </div>

      <div class="screen">
        <div class="screenTitle">Age</div>
        <input class="screenInput" type="number">
      </div> -->

    </div>






    <div class="third">

      <img class="receipt" src="../assets/images/ReceiptTop.png" />

      <div class="thirdContent">

        <div class="thirdTitle">
          COMPANY 32
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>Taxable Income</div>
            <div class="result plus">{{ oldBenefits ? oldBenefits.taxableIncome : 0}}</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Income Tax</div>
            <div class="result minus">{{ oldBenefits ? oldBenefits.incomeTax * -1 : 0}}</div>
          </div>
        </div>

        <div class="section sectionEnd">
          <div class="sectionTitle receiptRow">
            <div>IBA Payout</div>
            <div class="result plus">{{ oldBenefits ? oldBenefits.ibaPayout : 0}}</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Bonus Tax</div>
            <div class="result minus">{{ oldBenefits ? oldBenefits.bonusTax * -1 : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Subtotal</div>
            <div class="result">{{ oldBenefits ? oldBenefits.takehomePay : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>401K</div>
            <div class="result plus">{{ oldBenefits ? oldBenefits.retirementContribution : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Total Value</div>
            <div class="result">{{ oldBenefits ? oldBenefits.totalValue : 0}}</div>
          </div>
        </div>

      </div>

    <img class="receipt" src="../assets/images/ReceiptBottom.png" />
    </div>






    <div class="third">

      <img class="receipt" src="../assets/images/ReceiptTop.png" />

      <div class="thirdContent">

        <div class="thirdTitle">
          NEW BENEFITS PLAN
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>Taxable Income</div>
            <div class="result">{{ newBenefits ? newBenefits.taxableIncome : 0}}</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Income Tax</div>
            <div class="result">{{ newBenefits ? newBenefits.incomeTax : 0}}</div>
          </div>
        </div>

        <div class="section sectionEnd">
          <div class="sectionTitle receiptRow">
            <div>IBA Payout</div>
            <div class="result">{{ newBenefits ? newBenefits.ibaPayout : 0}}</div>
          </div>
          <div class="sectionTitle receiptRow">
            <div>Bonus Tax</div>
            <div class="result">{{ newBenefits ? newBenefits.bonusTax : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Subtotal</div>
            <div class="result">{{ newBenefits ? newBenefits.takehomePay : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow">
            <div>401K</div>
            <div class="result">{{ newBenefits ? newBenefits.retirementContribution : 0}}</div>
          </div>
        </div>

        <div class="section">
          <div class="sectionTitle receiptRow sectionTitleBold">
            <div>Total Value</div>
            <div class="result">{{ newBenefits ? newBenefits.totalValue : 0}}</div>
          </div>
        </div>

      </div>

    <img class="receipt" src="../assets/images/ReceiptBottom.png" />
    </div>

  </div>
</body>

<router-outlet></router-outlet>
