// Common CSS Variables

// Colors
$colorPrimary: #333333;
$colorSecondary: rgb(61, 61, 61);
$colorBackground: #d4d4d4;
$colorReceipt: #ededed;
$colorInputBorder: rgb(207, 207, 207);
// $colorRegister: rgb(226, 223, 176);
// $colorScreen: #000000;
// $colorDigits: rgb(0, 155, 8);
$colorOutline: rgba(163, 163, 163, 0.555);
$colorInputBG: rgb(238, 234, 230);
$colorInputBorder: #333333;
$colorGreen: rgb(61, 121, 61);
$colorRed: rgb(255, 102, 102);
$colorButton: rgb(255, 248, 182);
$colorButtonHover: rgb(255, 244, 163);
$colorButtonClick: rgb(255, 238, 107);

// Fonts
$fontPrimary: 'Amiko';
$fontPrimaryBold: 'Amiko-Bold';
$fontSecondary: 'OCRA';
$fontTertiary: 'LCD';
$fontQuartile: 'Quiche Sans';
$fontQuintile: 'MrEaves';

// Dimensions
$navHeight: 4rem;
$contentHeight: calc(100svh - $navHeight - 15rem);
$thirdHeight: 100%;
$thirdWidth: 33%;
$sectionWidth: 100%;
$sectionHeight: 8rem;


// Font Setup
@font-face {
  font-family: 'Amiko';
  src: url('/assets/fonts/Amiko-Regular.ttf');
}

@font-face {
  font-family: 'Amiko-Bold';
  src: url('/assets/fonts/Amiko-Bold.ttf');
}

@font-face {
  font-family: 'OCRA';
  src: url('/assets/fonts/OCRA.ttf');
}

@font-face {
  font-family: 'LCD';
  src: url('/assets/fonts/digital-7.ttf');
}

@font-face {
  font-family: 'Quiche Sans';
  src: url('/assets/fonts/quichesans-medium.ttf');
}

@font-face {
  font-family: 'MrEaves';
  src: url('/assets/fonts/MrEaves.ttf');
}
